<html>
<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'
    integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous'>
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'
    integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM'
    crossorigin='anonymous'></script>

<head>
    <div class='container'>
        <nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
            <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarTogglerDemo01'
                aria-controls='navbarTogglerDemo01' aria-expanded='false' aria-label='Toggle navigation'>
                <span class='navbar-toggler-icon'></span>
            </button>
            <div class='collapse navbar-collapse' id='navbarTogglerDemo01' style='color: white;'>
                <img src='cid:iconoHomo@chuckppt.com>'
                    class='align-middle' style='width: 100%; max-width: 65px; height: auto; color: white;'> Chuck Norris
                PPT
            </div>
        </nav>
    </div>
</head>

<body>
    <div class='container'>
        <div class='row'>
            <br>
            <div class='col-sm-4 offset-1'>
                <br>
                <br>
                @jugador te ha desafiado!!
                Tienes lo necesario para vencer? Demuestralo!
            </div>
            <div class='col-sm-6'>
                <br>
                <img src='cid:nuevaPartida@chuckppt.com'
                    style='width: 80%'>
            </div>
        </div>
    </div>
</body>

</html>